*

!.gitignore

!plantillas-export/

!plantillas-export/plantilla-export-personal-en-datos.xlsx
!plantillas-export/plantilla-export-personal-en-marcacion.xlsx
!plantillas-export/plantilla-export-periodo-en-datos.xlsx
!plantillas-export/plantilla-export-periodo-en-tareo.xlsx
!plantillas-export/plantilla-export-periodo-en-resumen.xlsx

!plantillas-export/plantilla-vinculo-memorandum.docx

!plantillas-export/plantilla-individual.xlsx
!plantillas-export/plantilla-multiple-por-dia.xlsx
!plantillas-export/plantilla-multiple.xlsx

!plantillas-export/plantilla-reporte-asistencias-personal.xlsx



!plantillas-import/

!plantillas-import/plantilla-import-plazas.xlsx
!plantillas-import/plantilla-import-personals.xlsx
!plantillas-import/plantilla-import-personas.xlsx
!plantillas-import/plantilla-import-contratos.xlsx

!.gitignore
